@import "./base.css";
@tailwind components;
@tailwind utilities;

.mt-24 {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.mt-26 {
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.mt-54 {
  margin-top: 13rem;
  margin-bottom: 5rem;
}

@media (min-width: 640px) {
  .sm\:mt-52 {
    margin-top: 15rem;
    margin-bottom: 8rem;
  }
}
@media (min-width: 640px) {
  .sm\:mt-38 {
    margin-top: -3rem;
  }
}
@media (min-width: 1024px) {
    .lg\:mt-58 {
        margin-top: -3rem;
    }
}